:root {
  --font: "Nunito Sans", sans-serif;
  --main-light: #fff;
  --main-secondary: rgb(179, 179, 179);
  --main-dark: #000;
  --glow: #de7200;
  --scroll-font: Pacifico;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font);
}

body {
  min-height: 300vh;
  background: var(--main-light);
}

#scroll {
  position: absolute;
  top: 45%;
  left: 50%;
  z-index: 1001;
}

#scroll > h1 {
  font-family: var(--scroll-font);
  font-size: 4rem;
  text-decoration: none;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-animation: scroll-text 1.5s ease-in-out infinite alternate;
  -moz-animation: scroll-text 1.5s ease-in-out infinite alternate;
  animation: scroll-text 1.5s ease-in-out infinite alternate;
}

section#main {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 1000;
  pointer-events: none;
}

section .side {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(bg.jpg);
  background-size: cover;
}

section .side#side1 {
  clip-path: polygon(0% 0%, 52% 53%, 0% 100%);
}

section .side#side2 {
  clip-path: polygon(100% 0%, 0 0, 52% 53%, 0 100%, 100% 100%);
}

.content {
  color: var(--main-light);
  padding: 120vh 4rem 60vh 4rem;
  position: relative;
  background: var(--main-dark);
}

.content:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  min-height: 260px;
  height: 17vw;
  background: url(wave.png);
  background-size: cover;
  background-repeat: no-repeat;
}

#banner {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

#avatar {
  border-radius: 50%;
  height: 12rem;
  margin-right: 1rem;
}

#name {
  display: flex;
  flex-direction: column;
}

#name > h2 {
  font-weight: 700;
  font-size: 2.5rem;
}

#name > h4 {
  font-size: 1.5rem;
  color: var(--main-secondary);
}

#intro {
  font-size: 1.2rem;
}

ul {
  list-style-position: inside;
  margin-left: 1rem;
}

@media only screen and (min-width: 1500px) {
  .content {
    padding: 120vh 10rem 100vh 8rem;
  }
}

@-webkit-keyframes scroll-text {
  from {
    text-shadow: 0 0 5px var(--main-light), 0 0 10px var(--main-light),
      0 0 20px var(--main-light), 0 0 40px var(--glow), 0 0 90px var(--glow),
      0 0 100px var(--glow), 0 0 150px var(--glow), 0 0 200px var(--glow);
  }
  to {
    text-shadow: 0 0 5px var(--main-light), 0 0 10px var(--main-light),
      0 0 15px var(--main-light), 0 0 20px var(--glow), 0 0 45px var(--glow),
      0 0 50px var(--glow), 0 0 60px var(--glow), 0 0 85px var(--glow);
  }
}
